@function primary-color ($transparency: 1) {
    @return rgba(233, 69, 68, $transparency);
}

$primary-color: primary-color();
$secondary-color: #00f6ff;
$bg-color: #fff;

$font-color-dark: #272727;
$font-color-dim: #595959;
$font-color-light: #fefefe;